.ms-auto{
  margin-right: 250px;
}
.nav-item{
  font-family:'papyrus';
  
}
.navbar-brand{
  font-family:'Lucida Calligraphy', 'cursive', sans-serif;
  margin-bottom:0fr;
}
.ms-1{
  margin-right:250 px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
h1{
  font-weight: bold;
  color:rgb(68, 65, 73);
}
body{
 
  background-image: url(laura-chouette-F5cUG2J8SxI-unsplash.jpg);
  background-size: cover;
  background-position: initial;
  
}
image{
  align-self: flex-end;
}
